<h1>Welcome Page</h1>
<div class="container new-session">
  <h4 class="blue-grey-text">Sign in with Email</h4>
  <div class="sign-in">
     <i class="material-icons"></i>
  </div>
  <h4 class="blue-grey-text">Sign in with Facebook</h4>
  <div class="sign-in">
    <i class="fa fa-facebook small"></i>
  </div>
  <h4 class="blue-grey-text">Sign in with Google</h4>
  <div class="sign-in">
     <i class="material-icons"></i>
  </div>
</div>
