<div class="no-top-padding">
<%= form_for(@event_member) do |q| %>
  <div class="field">
    <%= q.label :name, "Name" %><br>
    <%= q.text_field :name %>
  </div>
  <div class="actions">
    <%= q.submit "Add New Event", class:"submit-button"%>
  </div>
<% end %>
</div>
