<div id='app'>
</div>

<div class="index-page">
  <h1 class="show-header"> Groups You Belong To </h1>

  <div class="groups-list">
  <% unless @event_members.nil? %>
    <% @event_members.each do |event_member| %>
      <ul class="list-item"> <%= link_to event_member.name, event_member %></ul><br>
    <% end %>
  <% end %>
  </div>
</div>
