<p>Hello <%= @invite.email %>!</p>

<p>Someone has invited you to join a new event on Eventor. <br></p>
<p> Click here to join: http://eventor.herokuapp.com/login<%= @token %> <br></p>
<p>From, <br> Your Friends at Eventor.</p>
