<div id='app'>
</div>

<div class="index-page">
  <h2 class="show-header"><%= @event_members.name %></h2>
  <div class="group-members">
     <h4>Group Members</h4>
       <% @event_members.users.each do |user| %>
         <ul><%= user.name  %><br>
           <% if user.preferences.empty? %>
               (This user has not submitted their preferences.)
             <% else %>
               (This user has submitted their prefences.)
           <% end %>
         </ul>
       <% end %>

     <%= link_to "Invite New User to Group", new_invite_path, class:"generic-buttons" %>
     <%= link_to "Leave This Group", '/memberships/destroy', method: :delete, class:"generic-buttons" %>
  </div>
</div>
