@import "foundation_and_overrides";
@import url('https://fonts.googleapis.com/css?family=Ubuntu|Ubuntu+Mono');
@import url('https://fonts.googleapis.com/css?family=Courgette|Damion|PT+Sans+Caption|Ubuntu|Voltaire');
@import url('https://fonts.googleapis.com/css?family=Anaheim|Poiret+One');
@import url('https://fonts.googleapis.com/css?family=Anaheim|Poiret+One|Raleway');
@import "font-awesome";
@import url('https://fonts.googleapis.com/css?family=Londrina+Sketch');

/*GENERAL STYLING */

html, #app {
  background-image: url('http://www.publicdomainpictures.net/pictures/30000/velka/cork-board.jpg');
}

.all-events {
  margin: 30px;
}

.row {
  max-width: 2000px;
}

h1, h2, h3, h4, h5, h6, p {
  font-family: 'Ubuntu', sans-serif;
}

p {
  color: #041122;
  font-family: 'Anaheim', sans-serif;
}

/*PROFILE STYLING */

#user-profile-area.row {
  border-bottom: 35px solid #a7a9ac;
  background-color: white;

  margin-bottom: 50px;
  margin-top: 50px;

}

#avatar-area {
  border-bottom: 15px solid black;
  height: 150px;
  background-color: white;
  text-align: center;
  margin-top: 50px;
}

#avatar-area img {
  border-radius: 50%;
  width: 250px;
  height: 200px;
}

#info-area {
  background-color: white;
  text-align: center;
}

#info-area h3 {
  margin-top: 55px;
}

/*FORM EVENT STYLING */

#new-event {
  width: 500px;
  border: 2px solid black;
  background-color: white;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 40px;
  padding-right: 40px;
  text-align: center;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  position: absolute;
  box-shadow: 20px 20px 5px rgba(0, 0, 0, 0.4);
  border-radius: 10px;
}

.create-event {
  color: white;
  background-color: black;
  // background-image: linear-gradient(90deg, orange, #FF9999);
  margin: 2em auto;
  display: block;
  border: 6px solid rgba(255, 255, 255, 0.45);
  // border-radius: 50px;
  padding: 1em 3em;
  background-repeat: no-repeat;
  background-size: 100%;
  background-clip: padding-box;
  position: relative;
  font-weight: bolder;
  font-size: 120%;
  font-family: 'Ubuntu';
  letter-spacing: 2.5px;
  text-transform: uppercase;
}

.create-event:hover {
  background-color: white;
  color: black;
}


.create-event:before {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  top: 5px;
  left: 5px;
  border-radius: 50px;
  z-index: -1;
  filter: blur(14px);
}

.create-event:after {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  top: 5px;
  right: 5px;
  border-radius: 50px;
  z-index: -1;
  filter: blur(14px);
}

/* EVENT SHOW STYLING */

.vote-count{
  font-size: 20px;
  padding: 5px;
  height: 25px;
  width: 25px;
  background-color: white;
  text-align: center;
}

.thumbs-up-button, .thumbs-down-button {
  background-color: #0CA5B0;
  height: 30px;
  width: 25px;
  padding: 5px;
  text-align: center;
}

.thumbs-up-button:hover, .thumbs-down-button:hover {
  background-color: black;
}

.welcome-image {
  // position: relative;
  z-index: -1;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center center;
  height: 100%;
  width: 100%;
}

.get-started {
  background-color: #0CA5B0;
  border: solid black 2px;
  color: white;
  text-align: center;
  font-weight: 500;
  font-size: 22px;
  padding: 8px;
  width: 35%;
}

#new-location, #new-datetime {
  width: 500px;
  // border: 2px solid black;
  // background-color: white;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 40px;
  padding-right: 40px;
  text-align: center;
  // left: 0;
  // right: 0;
  // margin-left: auto;
  // margin-right: auto;
  margin-top: 20px;
  // box-shadow: 20px 20px 5px rgba(0, 0, 0, 0.4);
  // border-radius: 10px;
}

// #new-datetime {
//   width: 500px;
//   border: 2px solid black;
//   background-color: white;
//   padding-top: 20px;
//   padding-bottom: 20px;
//   padding-left: 40px;
//   padding-right: 40px;
//   text-align: center;
//   left: 0;
//   right: 0;
//   margin-left: auto;
//   margin-right: auto;
//   margin-top: 20px;
//   box-shadow: 20px 20px 5px rgba(0, 0, 0, 0.4);
//   border-radius: 10px;
// }

.sign-in {
  color: red;
}

.logout-button {
  margin: 10px;
}

.show-header {
  padding: 10px;
  text-align: center;
  font-size: 50px;
}

.home-page {
  padding: 15px;
  font-size: 110%;
  text-align: center;
}

.welcome {
  background-color: #D7D8C5;
  opacity: 0.9;
  padding-top: 10px;
  position: absolute;
  // height: 30%;
  // width: 30%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#delete-button:hover {
  color: #494949;
}

#edit-button, #delete-button, #invite-button {
  text-transform: uppercase;
  font-family: Avenir;
  color: black;
  background-color: white;
  margin: 15px;
  padding: 10px;
  width: 10em;
  height: 3em;
  text-align: center;
}

#edit-button:hover, #delete-button:hover, #invite-button:hover {
  color: #494949;
}

.hidden {
  display: none;
}

.login-name {
  text-align: right;
  background-color: #D1D0D7;
  padding-right: 30px;
}

.profile-header, .login-header, .signup-header, .invite-header, .edit-event-header {
  margin-left: 15px;
  margin-top: 15px;
  text-align: center;
  font-size: 40px;
}

.sign-up {
  padding: 10px;
}

.login-button, .signup-button {
  background-color: #D7D8C5;
  border: solid black 1px;
  color: black;
  text-align: center;
}

.box-content {
  background-image: url('https://lh3.ggpht.com/YQTo-0hQ0ISjIZMnJPbl7C7FK52hWZfek5h0G4Zq7rwtemiZXwUJawghxsPQzu1KPJo=w300');
  background-size: cover;
  padding: 30px 50px 50px 50px;
  height: 400px;
  width: 400px;
  margin: 20px;
  overflow: hidden;
  // box-shadow: 20px 20px 5px rgba(0, 0, 0, 0.4);
}

#home-sign-up-button {
  font-weight: 600;
}

.location-box-content, .datetime-box-content {
  background-color: white;
  padding: 20px 30px 10px 30px;
  height: 250px;
  width: 300px;
  margin: 15px;
  // border-radius: 20px;
  overflow: hidden;
}

.event-title {
  margin-top: 60px;
  margin-bottom: 30px;
  color: #041122;
  font-family: 'Ubuntu', sans-serif;
  font-size: 30px;
  text-align: center;
  font-weight: 400;
}

.event-title:hover {
  color: #5E9FA3;
  font-weight: bold;
}

/* NAVBAR STYLING */

#nav-bar {
  max-width: 2000px;
  background-color: #0CA5B0;
  // background-image: linear-gradient(90deg, #703800, #55443D);
  height: 80px;
  padding-top: 8px;
  margin-bottom: 30px;
}

#nav-bar a {
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: 1px;
  color: white;
  height: 60px;
  margin-top: 11px;
  font-size: 18px;
}

#nav-bar a:hover {
  color: black;
}

#logo a {
  margin-top: 0px;
  font-size: 45px;
}

#logo {
  float: left;
  text-align: left;
}

#short-logo{
  display: none;
}

@media only screen and (max-width: 640px) {
  #logo{
    display: none;
  }
  #short-logo {
    display: inline;
    float: left;
    text-align: left;
    font-size: 40px;
    font-weight: bold;
  }
}
